body{
    background-color: purple;
    text-align: center;
    color: yellow;
}

nav{
    height: 6000px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}


footer{
    text-align: center;
}

#memeImage{
    text-align: center;
   
}

header{
    text-align: center;
}